@*@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h3>Add an incident to machine:</h3>
<hr />
<p class="info">@Html.DisplayFor(model => model.Name)</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  <div class="form-group"> 
    @Html.Label("Select machines:")
    @foreach (Machine machine in ViewBag.MachineId)
    {
      @Html.Label(machine.Name)
      @Html.CheckBox("MachineId", false, new { value = machine.MachineId })
    }
  </div>
}
<p>@Html.ActionLink("Back to engineers list", "Index")</p>/*@