@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h3>Add a new machine:</h3>
<hr />
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Number)
    @Html.TextBoxFor(model => model.Number, new {@class = "form-control"})
  </div>
  <div class="form-group"> 
    @Html.Label("Select status:")
    @Html.DropDownList("Status", new List<SelectListItem>
    {
        new SelectListItem{ Text="Operational"},
        new SelectListItem{ Text="Repairng"},
        new SelectListItem{ Text="Malfunctioning"}
    })
  </div>
  <div class="form-group"> 
    @Html.Label("Select location:")
    @Html.DropDownList("LocationId")
  </div>
  <input type="submit" value="Add new machine" class="btn" />
}
<p>@Html.ActionLink("Back to machines list", "Index")</p>