@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h3>Machine info:</h3>
<hr />
<p class="info">@Html.DisplayFor(model => model.Name)</p>
<p class="info">@Html.DisplayFor(model => model.Number)</p>
<p class="info">@Html.DisplayFor(model => model.Status)</p>
<p class="info">@Html.DisplayFor(model => model.Location.Name)</p>

<hr />
<h4>List of all engineers licensed to repair it:</h4>
@if(@Model.Engineers.Count == 0)
{
  <p>Engineer doesn't have any machine in profile.</p>
}
else
{
  <ul>
  @foreach(var join in Model.Engineers)
  {
    //add link to engineer info
    <li>@Html.ActionLink($"{join.Engineer.Name}", "Details", "Engineers", new { id = join.EngineerId})</li>
    if(join.Engineer.IsActive)
    {
      <p class="active">Busy</p>
    }
    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete" class="btn" />
    }
  }
  </ul>
}
<hr />
<h4>Incidents:</h4>
@if(@Model.Incidents.Count == 0)
{
  <p>Machine doesn't have any incident.</p>
}
else
{
  <ul>
  @foreach(var incident in Model.Incidents)
  {
    //add link to incident info
    <li>@Html.ActionLink($"{incident.Type}", "Details", "Incidents", new { id = incident.IncidentId})</li>
    @using (Html.BeginForm("DeleteIncident", "Machines"))
    {
      @Html.Hidden("machineId", Model.MachineId)
      @Html.Hidden("incidentId", @incident.IncidentId)
      <input type="submit" value="Delete" class="btn" />
    }
  }
  </ul>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Back to machines list", "Index")</p>
<p>@Html.ActionLink("Edit machine info", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete machine", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Add incident", "AddIncident", new { id = Model.EngineerId })</p>
