@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h3>Edit machine info:</h3>
<hr />
<p class="info">@Html.DisplayFor(model => model.Name)</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.EditFor(model => model.Name, new {@class = "form-control"})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Number)
    @Html.EditFor(model => model.Number, new {@class = "form-control"})
  </div>
  <div class="form-group"> 
    @Html.Label("Select status:")
    @Html.DropDownList("StatusList")
  </div>
  <div class="form-group"> 
    @Html.Label("Select location:")
    @Html.DropDownList("LocationId")
  </div>
  <input type="submit" value="Edit" class="btn" />
}
<p>@Html.ActionLink("Back to machines list", "Index")</p>